.main {
	background: url(../images/bg.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	position: relative;
	min-height: 100vh;
}
		html,
		body,
		h1,
		h2,
		h3,
		h4,
		h5 {
			font-family: 'Open Sans', sans-serif;
		}
footer{
    	margin-bottom: 0px; text-align: center
}

#pageContainer{
   max-width: 1400px; margin-top: 80px
}

#profileImg{
   height: 106px; width: 106px
}

#userProfile{
   text-decoration: none
}