.main {
	background: url(../images/bg.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	position: relative;
	min-height: 100vh;
}
		html,
		body,
		h1,
		h2,
		h3,
		h4,
		h5 {
			font-family: 'Open Sans', sans-serif;
		}
footer{
    	margin-bottom: 0px; text-align: center
}

#pageContainer{
   max-width: 1400px; margin-top: 80px
}

#profileImg{
   height: 106px; width: 106px
}

#userProfile{
   text-decoration: none
}

.a:hover, .button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1)
}

label{
    color: white;
    text-align: center;
    margin-left: 120px;
} 

@media only screen and (max-width: 600px) {
    .postText{
margin: 0px;
    width: 214px;
    height: 94px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .postText{
     margin: 0px;
    width: 486px;
    height: 148px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .postText{
    margin: 0px;
    height: 142px;
    width: 700px;
    }
}