<!DOCTYPE html>
<html>
<head>
	<title>W3.CSS Template</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all"/>
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        {{ toastr.message() }}
</head>
	<body class="w3-theme-l5">
		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar w3-theme-d2 w3-left-align w3-large">
				<a
					href="{{ url_for('login') }}"
					class="w3-bar-item w3-hide-medium w3-button w3-hide-large w3-right w3-padding-large w3-large w3-theme-d2 w3-hover-white"
				>
					Logout</a
				>
				<a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"
					><i class="fa fa-home w3-margin-right"></i>Private Media</a
				>

				<a
					href="{{ url_for('login') }}"
					class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
				>
					Logout
				</a>
			</div>
		</div>

		<!-- Page Container -->
		<div id="pageContainer" class="w3-container w3-content">
			<!-- The Grid -->
			<div class="w3-row">
				<!-- Left Column -->
				<div class="w3-col m3">
					<!-- Profile -->
					<div class="w3-card w3-round w3-white">
						<div class="w3-container">
							<a id="userProfile" href="updateProfile.html"
								><h4 class="w3-center"><i class="fa fa-edit"></i> My Profile</h4></a
							>
							<p class="w3-center">
								<img id="profileImg"
									src="/static/images/01.png"
									class="w3-circle"
									alt="Avatar"
								/>
							</p>
							<hr />
							<p>
								<i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i>
								{{active_user.username}}
							</p>
							<p>
								<i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
								{{active_user.address}}
							</p>
							<p>
								<i
									class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"
								></i>
								{{active_user.dob}}
							</p>
						</div>
					</div>
					<br />

					<!-- Interests -->
					<div class="w3-card w3-round w3-white w3-hide-small">
						<div class="w3-container">
							<p>Hobbies</p>
							<p>
								<span class="w3-tag w3-small w3-theme-d5">{{active_user.hobbies}}</span>
							</p>
						</div>
					</div>
					<br />

					<!-- End Left Column -->
				</div>

				<!-- Middle Column -->
				<div class="w3-col m7">
					<div class="w3-row-padding">
						<div class="w3-col m12">
							<div class="w3-card w3-round w3-white">
								<div class="w3-container w3-padding">
									<h6 class="w3-opacity">Social Media template by w3.css</h6>
									<p contenteditable="true" class="w3-border w3-padding">
										Status: Feeling Blue
									</p>
									<button type="button" class="w3-button w3-theme">
										<i class="fa fa-pencil"></i>  Post
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="w3-container w3-card w3-white w3-round w3-margin">
						<br />
						<span class="w3-right w3-opacity">1 min</span>
						<h4>Michael Yahweh</h4>
						<br />
						<hr class="w3-clear" />
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
							veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.
						</p>

						<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
							<i class="fa fa-edit"></i> Edit
						</button>
						<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
							<i class="fa fa-trash"></i> Delete
						</button>
					</div>

					<!-- End Middle Column -->
				</div>

				<!-- Right Column -->
				<div class="w3-col m2">
					<div class="w3-card w3-round w3-white w3-center">
						<div class="w3-container">
							<p>Upcoming Events:</p>
							<p>{{active_user.events}}</p>
						</div>
					</div>
					<br />

					<!-- End Right Column -->
				</div>

				<!-- End Grid -->
			</div>

			<!-- End Page Container -->
		</div>
		<br />

		<!-- Footer -->
		<footer
			class="w3-container w3-theme-d3 w3-padding-16"
		>
			<h5>Footer</h5>
		</footer>

		<script>
			// Used to toggle the menu on smaller screens when clicking on the menu button
			function openNav() {
				var x = document.getElementById('navDemo');
				if (x.className.indexOf('w3-show') == -1) {
					x.className += ' w3-show';
				} else {
					x.className = x.className.replace(' w3-show', '');
				}
			}
		</script>
              {{ toastr.include_toastr_js() }}
	</body>
</html>
