{% extends 'base.html'%} 
				{% block header %}
                	<a href="{{ url_for('register') }}" class="">Register</a>
                 {% endblock %}
{% block content %}

						<form action="{{ url_for('login') }}" method="post" >
							<div class="field-group">
								<span class="fa fa-user" aria-hidden="true"></span>
								<div class="wthree-field">
									<input name="username" id="text1" type="text" value="" placeholder="Username" required/>
								</div>
							</div>
							<div class="field-group">
								<span class="fa fa-lock" aria-hidden="true"></span>
								<div class="wthree-field">
									<input name="password" id="myInput" type="Password" placeholder="Password" required/>
								</div>
							</div>
							<div class="wthree-field">
								<button type="submit" class="btn">Login</button>
							</div>
							<ul class="list-login">
								<li class="switch-agileits">
									<label class="switch">
										<input type="checkbox" checked/>
										<span class="slider round"></span>
										keep Logged in
									</label>
								</li>
								<li>
									<a href="{{ url_for('forgotPassword') }}" class="text-right">forgot password?</a>
								</li>
								<li class="clearfix"></li>
							</ul>
							<ul class="list-login-bottom">
								<li class="clearfix"></li>
							</ul>
						</form>
{% endblock %}