{% extends 'base.html'%} 
{% block header %}
<a id="login" href="{{ url_for('login') }}" class="">Login</a>
{% endblock %}
{% block content %}
<form action="{{ url_for('resetPassword') }}" method="post" >
   <label class="label" for="username">Username</label>  
   <div class="field-group">
      <span class="fa fa-user" aria-hidden="true"></span>
      <div class="wthree-field">
         <input name="username" id="username" type="text" placeholder="Enter Username" required/>
      </div>
   </div>
   <label class="label" for="secret">Secret</label>
   <div class="field-group">
      <span class="fa fa-mask" aria-hidden="true"></span>
      <div class="wthree-field">
         <input name="secret" id="secret" type="text" placeholder="Enter Secret Word" required/>
      </div>
   </div>
   <label class="label" for="password">Password</label>
   <div class="field-group">
      <span class="fa fa-lock" aria-hidden="true"></span>
      <div class="wthree-field">
         <input name="password" id="password" type="Password" placeholder="Enter New Password" required/>
      </div>
   </div>
   <div class="wthree-field">
      <button id="submitButton" type="submit" class="btn">Reset Password</button>
   </div>
   <ul class="list-login-bottom">
      <li class="clearfix"></li>
   </ul>
</form>
{% endblock %}